#wrap {
  width: 99%;
  height: 100vh;
  margin: 0 auto;
}
/* pc 헤더 */
.mobile {
  display: none;
}
.pc {
  background-color: #ffff;
  width: 100%;
  height: 11%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
}
/* nav */
nav {
  width: 50%;
  height: 100%;
  margin-left: 78px;
}
nav ul.main_nav {
  display: flex;
  justify-content: space-around;
}
nav ul.main_nav > li {
  height: 100px;
  line-height: 100px;
}
nav ul.main_nav > li > a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}
nav ul.main_nav > li.on > a {
  color: #3d68af;
}
.sub_menu_wrap {
  width: 100%;
  height: 0;
  position: absolute;
  overflow: hidden;
  top: 95px;
  left: 0px;
  display: flex;
  gap: 140px;
  transition: height 0.1s;
  background: #ebebeb url(../images/banner.png) no-repeat left 800px top 43px;
  z-index: 100000;
}
.sub_menu_wrap .inner {
  padding: 43px 190px;
  display: flex;
  gap: 100px;
}
nav ul.main_nav > li:hover > .sub_menu_wrap {
  height: 268px;
}
.sub_menu_wrap h2 {
  font-size: 25px;
  font-weight: 600;
  color: #525252;
  line-height: 45px;
}
.sub_menu_wrap li a {
  font-size: 22px;
  font-weight: 300;
  line-height: 35px;
  display: block;
  color: #000;
}
.sub_menu_wrap li.on a {
  color: #3d68af;
}
/* 로그인 */
.login {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.login a {
  color: black;
}
.login a:hover {
  color: rgb(95, 195, 234);
}
.company::after {
  display: inline-block;
  content: '';
  width: 1px;
  height: 10px;
  background-color: #000000;
  margin: 0 10px;
}
/* 내용 */
.section_data {
  background-image: url(../images/pc_bg.png);
  background-size: cover;
  width: 100%;
  height: 60%;
}
.section_data .title {
  width: 95%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  padding-top: 20px;
  color: #fff;
}
.section_data .title p {
  font-size: 25pt;
}
.section_data .title h1 {
  font-size: 40pt;
  font-weight: bold;
}

.section_data .sub_title {
  width: 45%;
  height: 30%;
  display: flex;
  align-items: center;
}
.section_data .sub_title div {
  width: 95%;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  color: rgb(65, 237, 251);
}
.section_data .sub_title p {
  font-size: 25pt;
  font-weight: 500;
}
.data_m {
  display: none;
}
.data_pc {
  height: 25%;
  display: flex;
  flex-direction: row;
}
.data_pc .data_list {
  width: 50%;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.data_pc .data_list1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.data_pc .data_list1 .data_list01 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.data_pc .data_list1 .data_list01 .data_tit {
  width: 90%;
  background-color: rgb(65, 237, 251);
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  text-align: center;
  height: 20px;
  font-weight: bold;
  margin: 15px 0 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.data_pc .data_list1 .data_list01 .data_no {
  color: #fff;
  font-size: 25px;
}
.data_total_pc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 15px;
}
.data_total_pc .total1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 60px;
  margin-bottom: 15px;
}
.data_total_pc .total1 .total_tit {
  width: 60%;
  height: 20px;
  background-color: #fff;
  padding: 0 5px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 5px 5px 5px;
  margin-bottom: 5px;
}
.data_total_pc .total1 .total_no {
  color: #fff;
  font-size: 25px;
}
.data_total_m {
  display: none;
}
.section_menu_m {
  display: none;
}
.section_menu_pc {
  width: 100%;
  height: 20%;
  background-color: #23376c;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.section_menu_pc .section_menu_wrap {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.section_menu_pc .news {
  width: 35%;
  display: flex;
  flex-direction: column;
  /* border-bottom: 1px solid #4467c5; */
  padding: 10px 0 10px 0;
  justify-content: space-between;
}
.section_menu_pc .news .news_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.section_menu_pc .news .news_title .news_tit {
  font-size: 20px;
  color: #ffff;
}
.section_menu_pc .news .news_title .news_bt {
  font-size: 35px;
  color: #ffff;
}
.section_menu_pc .news .news_list {
  display: flex;
  height: 90%;
  flex-direction: column;
  justify-content: space-around;
}
.section_menu_pc .news .news_list .news_no {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
.service_pc {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.service_pc h1 {
  color: #fff;
  font-size: 20px;
}
.service_pc .service_nav {
  height: 55%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.service_pc .service_nav .service_nav_list {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.service_pc .service_nav .service_nav_list .service_img {
  margin: 0 auto;
}
.service_pc .service_nav .service_name {
  color: #fff;
}
.service_pc .service_nav .data_exchange,
.qna {
  width: 30%;
  background-color: #fff;
  height: 70px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.service_pc .service_nav .data_exchange a {
  width: 80%;
}
.service_pc .service_nav .data_exchange a img {
  width: 100%;
}
.service_pc .service_nav .qna a {
  width: 80%;
}
.service_pc .service_nav .qna a img {
  width: 100%;
}

/* footer pc */
.footer_m {
  display: none;
}
.footer_pc {
  height: 19%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-top: 1px solid #000;
}
.footer_pc .poster {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer_pc .poster .poster_bt {
  width: 15%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer_pc .poster .poster_bt a {
  color: #000;
  font-weight: bold;
}
.footer_pc .poster .poster_bt .menu-trigger {
  position: relative;
  width: 20px;
  height: 20px;
}

.footer_pc .poster .poster_bt .menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
}

.footer_pc .poster .poster_bt .menu-trigger span:nth-of-type(1) {
  top: 0;
}

.footer_pc .poster .poster_bt .menu-trigger span:nth-of-type(2) {
  top: 8px;
}

.footer_pc .poster .poster_bt .menu-trigger span:nth-of-type(3) {
  bottom: 0;
}
.footer_pc .poster .poster_bt .bt_img img {
  width: 30%;
}
.footer_pc .poster .banner_img {
  width: 80%;
}
.footer_pc .poster .banner_img img {
  width: 16%;
}
.footer_pc .infor {
  width: 100%;
  padding: 15px 0;
  font-size: 14px;
  border-top: 1px solid #e8e8e8;
  text-align: center;
}
.footer_pc .infor div {
  line-height: 20px;
}
/* mobile */
@media screen and (max-width: 920px) {
  #wrap {
    height: 100%;
  }
  .pc {
    display: none;
  }
  .mobile {
    background-color: #ffff;
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .logo {
    display: flex;
    align-items: center;
  }
  .logo img {
    width: 218px;
    height: 42px;
  }
  .login_m {
    right: 20px;
    width: 10%;
    height: 120px;
    display: flex;
    position: absolute;
    justify-content: flex-end;
    align-items: center;
  }
  .login_m a {
    color: #000;
  }
  /* nav */
  .nav_bar {
    width: 400px;
    height: 75px;
    /* background: #222; */
    position: relative;
    float: right;
    top: -75px;
    right: 80px;
    z-index: 1;
    transition: all 0.35s;
  }
  .nav {
    position: absolute;
    right: 1em;
  }
  .nav ul li {
    display: inline-block;
    position: relative;
    margin-left: 1em;
    font-size: 20px;
  }
  .dropDown {
    position: absolute;
    z-index: 1;
    display: none;
    width: 100px;
    background-color: #272833;
    padding-right: 20px;
    border-radius: 20px;
    flex-direction: column;
  }
  .dropDown::after {
    border-color: #272833 transparent;
    border-style: solid;
    border-width: 0 6px 8px 6.5px;
    content: '';
    display: block;
    left: 25px;
    position: absolute;
    top: -7px;
    width: 0;
    z-index: 1;
  }

  .dropDown::before {
    border-color: #272833 transparent;
    border-style: solid;
    border-width: 0 6px 8px 6.5px;
    content: '';
    display: block;
    left: 25px;
    position: absolute;
    top: -8px;
    width: 0;
    z-index: 0;
  }
  .nav ul li:hover .dropDown {
    display: flex;
  }
  .nav ul li a {
    border: 0;
    display: inline-block;
    outline: 0;
  }
  input[id='pc_menuicon']:checked + label + div {
    top: 0;
  }
  /* 모바일 메뉴 icon */
  input[id='menuicon'] {
    display: none;
  }
  input[id='menuicon'] + label {
    display: block;
    width: 30px;
    height: 28px;
    position: absolute;
    left: 30px;
    top: calc(65px - 20px);
    transition: all 0.35s;
    cursor: pointer;
    z-index: 2;
  }
  input[id='menuicon'] + label span {
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 30px;
    background-color: #23376c;
    transition: all 0.35s;
  }

  input[id='menuicon'] + label span:nth-child(1) {
    top: 0;
  }
  input[id='menuicon'] + label span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  input[id='menuicon'] + label span:nth-child(3) {
    bottom: 0;
  }
  /* 체크 */
  input[id='menuicon']:checked + label span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
  input[id='menuicon']:checked + label span:nth-child(2) {
    opacity: 0;
  }
  input[id='menuicon']:checked + label span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
  }

  /* 사이드바 */
  .sidebar {
    width: 100%;
    height: 250px;
    background: #bcbcbc;
    position: absolute;
    margin-top: 120px;
    top: 0;
    left: -2000px;
    z-index: 1;
    transition: all 0.35s;
    border-radius: 15px;
  }
  .side_nav {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    color: #111;
  }
  .side_nav ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .side_nav ul li {
    list-style: none;
    text-align: left;
    margin-left: 20px;
    position: relative;
  }
  .side_nav ul li div {
    width: 80%;
    border-bottom: #111;
  }
  .side_nav ul li a {
    color: #111;
  }
  .side_nav ul li > ul {
    margin-left: 20px;
  }
  input[id='menuicon']:checked + label + div {
    left: 0;
  }

  /* section */
  .section_data {
    width: 100%;
    max-height: 1045px;
    background-image: url(../images/m_bg.png);
    background-size: cover;
  }

  .section_data .title {
    width: 95%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    color: #fff;
  }
  .section_data .title p {
    font-size: 11pt;
  }
  .section_data .title h1 {
    font-size: 23pt;
  }

  .section_data .sub_title {
    width: 95%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    color: rgb(65, 237, 251);
  }
  .section_data .sub_title p {
    font-size: 18pt;
    font-weight: 500;
  }
  .section_data .data_pc {
    display: none;
  }
  .section_data .data_m {
    margin: 0 auto;
    width: 95%;
    height: 250px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .section_data .data_m .data_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .section_data .data_m .data_list div {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .section_data .data_m .data_list div .data_tit {
    background-color: rgb(65, 237, 251);
    border-radius: 5px;
    text-align: center;
    height: 20px;
    font-weight: bold;
  }
  .section_data .data_m .data_list div .data_no {
    text-align: center;
    color: #fff;
  }
  .data_list01 {
    display: flex;
    flex-direction: column;
  }
  .section_data .data .data_list01 div {
    width: 95%;
    display: flex;
  }

  /* data 합계 */
  .data_total_m {
    width: 95%;
    height: 120px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .data_total_m div {
    width: 95%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .total_tit {
    background-color: #fff;
    border-radius: 5px;
    font-weight: bold;
  }
  .total_no {
    color: #fff;
  }

  /* 메뉴 */
  .section_menu_pc {
    display: none;
  }
  .section_menu_m {
    display: block;
    width: 100%;
    background-color: #23376c;
    color: #fff;
  }
  .section_menu_m .news {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #4467c5;
    padding: 10px 0 10px 0;
  }
  .section_menu_m .news .news_title {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
  }
  .section_menu_m .news .news_title .news_tit,
  .news_bt {
    font-size: 23px;
  }
  .section_menu_m .news .news_list {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .section_menu_m .news .news_list .news_no {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  /* 서비스 */
  .service_m {
    width: 95%;
    margin: 0 auto;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .service_m .service_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .service_m .service_nav .service_nav_list {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .service_m .service_nav .service_img {
    width: 33%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .service_m .service_nav div img {
    width: 50px;
    height: 50px;
  }
  .service_m .service_nav .service_name {
    font-size: 12.5px;
  }
  /* footer */
  .footer_pc {
    display: none;
  }
  .footer_m {
    width: 100%;
    height: 120px;
    background-color: #fff;
    display: flex;
    border-top: 1px solid black;
  }
  .footer_m .infor {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .footer_m p {
    line-height: 20px;
    font-size: 12.5px;
  }
}
